.taskWrapper{
  background-color: rgb(25, 26, 28);
  padding-bottom: 5%;
  padding-left: 5%;
  width: 68vw;
  height: 82vh;
  margin-left:  3vw;
  margin-top: 1vh;
  border-radius: 20px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.modal-buttons{
  display: flex;
  justify-content: center;
}
.task-info{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15Vw;
  font-size: 13px;
  margin-top: 2vh;
  margin-bottom: 2vh;
  color: white;
  text-transform: capitalize;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.listItemItems{
  display: flex;
  justify-content: space-evenly;
  width: 70vw;
}



.task-info2{
  display: flex;
  justify-content: center;
  width: 15Vw;
  font-size: 13px;
  margin-top: auto;
  margin-bottom: auto;
  color: white;
  text-transform: capitalize;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.folder-form{
  display: flex;
}

.list-wrapper{
  background-color: rgb(25, 26, 28);
  padding: 10px;
  border-radius: 20px;
  width: 60vw;
  
}


.item-date{
  margin-top: 10vh;
  position: relative;
  margin-left: 0;
  color: white;
}

.itemsWrapper{
  background-color: rgb(25, 26, 28);
  border-width: 2px;
  border: 2px solid rgb(90, 90, 90);
  border-radius: 10px;
  margin-bottom: 2vh;
  align-items: center;
  justify-content: center;
  justify-items: center;
  justify-self: center;
 
}

.itemsWrapper:hover{
  border: 3px solid rgb(102, 102, 102);
}

.datePickerWrapper{
  margin-top: 1vh;
  display: flex;
  align-items: center;
  align-content: baseline;
}

.left-side{
  display: flex;
  flex-direction: column;
}


body{
  background-color: rgb(19, 47, 65);
}

.title{
  color: rgb(246, 246, 246);
}


.App{
  display: flex;
}


::-webkit-scrollbar {
  display: none;
}

.dialog-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;  /* Ensure dialogs have correct background */
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}


.task-form{
  display: flexbox;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
}

.form-header{
  display: flex;
}

.folderMenu{
  margin-left: 5%;
  justify-content: baseline;
}

