.navbar {
  background: linear-gradient(135deg, rgb(24, 28, 35), rgb(34, 40, 50));
  width: 20vw;
  max-width: 90vw;       /* Prevent overflow */
  min-width: 100px;      /* Ensures readability */
  min-height: 30vh;
  margin-top: 1vh;
  border-radius: 20px;
  font-size: 13px;
  font-family: Helvetica, sans-serif;
  padding-top: 10px;
  border: 1px solid rgb(46, 53, 66);
  box-sizing: border-box;
}



/* Custom tag: convert to class if not using <menuitem> elements */
.menu-items {
  display: flex;
  height: 2rem;
  color: white;
  text-decoration: none; /* Remove underline */
  font-size: 15px;
  font-weight: lighter;
  border: 1px solid rgb(34, 40, 50); /* Initial border for hover effect */
  border-radius: 5px;
  transition: color 0.3s ease, border-color 0.3s ease;
  
}

.menu-items:hover {
  color: lightgray;
  cursor: pointer;
  border: solid 1px rgb(46, 53, 66);
}

.halfLogo {
  color: aliceblue;
  font-size: 25px;
  font-weight: bolder;
}

.logo {
  font-size: 25px;
  color: rgb(91, 155, 234);
  padding-inline-start: 5%;
  margin-bottom: 3%;
  text-align: left;
  font-weight: lighter;
  align-items: start;
}



